force-app/main/default/flows/Build_OM_Runtime_Dependencies.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_List_of_OrchestrationItemAttributes</name>
        <label>Get List of OrchestrationItemAttributes</label>
        <locationX>215</locationX>
        <locationY>538</locationY>
        <actionName>vOrchestrationItemAttributes</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Loop_through_ItemAttributes_Collection</targetReference>
        </connector>
        <inputParameters>
            <name>orchestrationItemIds</name>
            <value>
                <elementReference>DependentIds</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>ItemAttributesCol</assignToReference>
            <name>items</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Read_Orchestration_Item_Attributes</name>
        <label>Read Orchestration Item Attributes</label>
        <locationX>456</locationX>
        <locationY>195</locationY>
        <actionName>vOrchestrationItemAttributes</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_item_attributes</targetReference>
        </connector>
        <inputParameters>
            <name>orchestrationItemId</name>
            <value>
                <elementReference>itemId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>ItemAttributes</assignToReference>
            <name>item</name>
        </outputParameters>
    </actionCalls>
    <assignments>
        <name>Add_Matched_Item_Id_to_DependentItemIds</name>
        <label>Add Matched Item Id to DependentItemIds</label>
        <locationX>617</locationX>
        <locationY>599</locationY>
        <assignmentItems>
            <assignToReference>DependentItemIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ItemAttributes.item_id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Relies_on_Item_Attrubte</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Matched_Item_Id_to_DependentItemIds_By_ServiceAccount</name>
        <label>Add Matched Item Id to DependentItemIds</label>
        <locationX>440</locationX>
        <locationY>918</locationY>
        <assignmentItems>
            <assignToReference>DependentItemIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ItemAttributes.item_id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_ItemAttributes_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Dependency_Items</name>
        <label>Add to Dependency Items</label>
        <locationX>4</locationX>
        <locationY>869</locationY>
        <assignmentItems>
            <assignToReference>itemDependencies</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>itemDependency</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Dependent_Item_Ids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Asset_Reference_Id</name>
        <label>Assign Asset Reference Id</label>
        <locationX>975</locationX>
        <locationY>58</locationY>
        <assignmentItems>
            <assignToReference>AssetReferenceId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>attribute.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_attributes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Dependent_Item_Attributes</name>
        <label>Assign Dependent Item Attributes</label>
        <locationX>620</locationX>
        <locationY>708</locationY>
        <assignmentItems>
            <assignToReference>attributes</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ItemAttributes.order_item.described_by</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Relies_on_Item_Attrubte</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_item_attributes</name>
        <label>Assign item attributes</label>
        <locationX>611</locationX>
        <locationY>194</locationY>
        <assignmentItems>
            <assignToReference>attributes</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ItemAttributes.order_item.described_by</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_attributes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Relies_On_Ids</name>
        <label>Assign Relies On Ids</label>
        <locationX>975</locationX>
        <locationY>401</locationY>
        <assignmentItems>
            <assignToReference>ReliesOnItemIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>attribute.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_attributes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Relies_On_Item_Type</name>
        <label>Assign Relies On Item Type</label>
        <locationX>910</locationX>
        <locationY>312</locationY>
        <assignmentItems>
            <assignToReference>ReliesOnItemType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>attribute.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_attributes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Dependent_Ids</name>
        <label>Assign to Dependent Ids</label>
        <locationX>52</locationX>
        <locationY>372</locationY>
        <assignmentItems>
            <assignToReference>DependentIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>DependentItem.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Dependent_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Dependency_Record</name>
        <label>Create Dependency Record</label>
        <locationX>5</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>itemDependency.vlocity_cmt__OrchestrationItemId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>masterOrchestrationItem.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>itemDependency.vlocity_cmt__DependsOnItemId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ReliesOnItemId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>itemDependency.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Runtime: {!RuntimeDependencyDefName}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Dependency_Items</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Asset_Reference_Id_of_Relies_on_Item</name>
        <label>Check Asset Reference Id of Relies on Item</label>
        <locationX>433</locationX>
        <locationY>544</locationY>
        <defaultConnector>
            <targetReference>Loop_through_Relies_on_Item_Attrubte</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Asset_Ref_Id_Matched</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>attribute.name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ATT_ASSET_REF_ID_001</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ReliesOnItemIds</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>attribute.value</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Matched_Item_Id_to_DependentItemIds</targetReference>
            </connector>
            <label>Asset Ref Id Matched</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Dependency_Definition_Record</name>
        <label>Check Dependency Definition Record</label>
        <locationX>268</locationX>
        <locationY>199</locationY>
        <defaultConnector>
            <targetReference>Read_Orchestration_Item_Attributes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Dependency Definition IS found</defaultConnectorLabel>
        <rules>
            <name>Dependency_Definition_NOT_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Runtime_Dependency_Definition</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Dependency Definition NOT found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Relies_On_Item_Type</name>
        <label>Check Relies On Item Type</label>
        <locationX>435</locationX>
        <locationY>757</locationY>
        <defaultConnector>
            <targetReference>Assign_Dependent_Item_Attributes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Orchestration Item</defaultConnectorLabel>
        <rules>
            <name>Location_Based</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ReliesOnItemType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ServiceAccount</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Match_Item_Service_Account_Id</targetReference>
            </connector>
            <label>Service Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Find_Dependency_Item_Ids</name>
        <label>Find Dependency Item Ids</label>
        <locationX>971</locationX>
        <locationY>202</locationY>
        <defaultConnector>
            <targetReference>Loop_through_attributes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Asset_Reference_Id</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>attribute.name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ATT_ASSET_REF_ID_001</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>attribute.value</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Asset_Reference_Id</targetReference>
            </connector>
            <label>Asset Reference Id</label>
        </rules>
        <rules>
            <name>Relies_On_Item_Id</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>attribute.name</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>ATT_RELIES_ON_ITEM_</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>attribute.value</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Relies_On_Ids</targetReference>
            </connector>
            <label>Relies On Item Id</label>
        </rules>
        <rules>
            <name>Relies_On_Item_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>attribute.name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ATT_RELIES_ON_ITEMTYPE_001</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>attribute.value</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Relies_On_Item_Type</targetReference>
            </connector>
            <label>Relies On Item Type</label>
        </rules>
    </decisions>
    <decisions>
        <name>Match_Item_Service_Account_Id</name>
        <label>Match Item Service Account Id</label>
        <locationX>607</locationX>
        <locationY>852</locationY>
        <defaultConnector>
            <targetReference>Loop_through_ItemAttributes_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Matched</defaultConnectorLabel>
        <rules>
            <name>Matched_ServiceAccountId</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ReliesOnItemIds</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>ItemAttributes.order_item.service_account_id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Matched_Item_Id_to_DependentItemIds_By_ServiceAccount</targetReference>
            </connector>
            <label>Matched ServiceAccountId</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Dependency_Data</name>
        <label>Validate Dependency Data</label>
        <locationX>664</locationX>
        <locationY>372</locationY>
        <defaultConnector>
            <targetReference>Find_Master_Orchestration_Items</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Found dependency data</defaultConnectorLabel>
        <rules>
            <name>Has_relies_on_items</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ReliesOnItemIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AssetReferenceId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>NO valid dependency data</label>
        </rules>
    </decisions>
    <interviewLabel>Build OM Runtime Dependencies {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Build OM Runtime Dependencies</label>
    <loops>
        <name>Loop_through_attributes</name>
        <label>Loop through attributes</label>
        <locationX>752</locationX>
        <locationY>198</locationY>
        <assignNextValueToReference>attribute</assignNextValueToReference>
        <collectionReference>attributes</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Find_Dependency_Item_Ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Validate_Dependency_Data</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Dependent_Item_Ids</name>
        <label>Loop Through Dependent Item Ids</label>
        <locationX>214</locationX>
        <locationY>929</locationY>
        <assignNextValueToReference>ReliesOnItemId</assignNextValueToReference>
        <collectionReference>DependentItemIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Dependency_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Runtime_Dependencies</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Dependent_Items</name>
        <label>Loop through Dependent Items</label>
        <locationX>216</locationX>
        <locationY>373</locationY>
        <assignNextValueToReference>DependentItem</assignNextValueToReference>
        <collectionReference>DependentItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_to_Dependent_Ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_List_of_OrchestrationItemAttributes</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_ItemAttributes_Collection</name>
        <label>Loop through ItemAttributes Collection</label>
        <locationX>215</locationX>
        <locationY>762</locationY>
        <assignNextValueToReference>ItemAttributes</assignNextValueToReference>
        <collectionReference>ItemAttributesCol</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Relies_On_Item_Type</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Through_Dependent_Item_Ids</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Relies_on_Item_Attrubte</name>
        <label>Loop through Relies on Item Attrubte</label>
        <locationX>439</locationX>
        <locationY>654</locationY>
        <assignNextValueToReference>attribute</assignNextValueToReference>
        <collectionReference>attributes</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Asset_Reference_Id_of_Relies_on_Item</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_through_ItemAttributes_Collection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Runtime_Dependencies</name>
        <label>Create Runtime Dependencies</label>
        <locationX>222</locationX>
        <locationY>1118</locationY>
        <inputReference>itemDependencies</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Find_Master_Orchestration_Items</name>
        <label>Find Master Orchestration Items</label>
        <locationX>508</locationX>
        <locationY>373</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_Relies_On_Items</targetReference>
        </connector>
        <filters>
            <field>vlocity_cmt__FulfilmentRequestLineId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>fulfillmentRequestLineId</elementReference>
            </value>
        </filters>
        <filters>
            <field>vlocity_cmt__OrchestrationItemDefinitionId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Runtime_Dependency_Definition.Orchestration_Item_Definition__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>vlocity_cmt__OrchestrationPlanId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>planId</elementReference>
            </value>
        </filters>
        <object>vlocity_cmt__OrchestrationItem__c</object>
        <outputReference>masterOrchestrationItem</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Find_Relies_On_Items</name>
        <label>Get All Dependent Items</label>
        <locationX>368</locationX>
        <locationY>373</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Dependent_Items</targetReference>
        </connector>
        <filters>
            <field>vlocity_cmt__OrchestrationItemDefinitionId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Runtime_Dependency_Definition.Dependency_Item_Definition__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>vlocity_cmt__OrchestrationPlanId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>planId</elementReference>
            </value>
        </filters>
        <object>vlocity_cmt__OrchestrationItem__c</object>
        <outputReference>DependentItems</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Runtime_Dependency_Definition</name>
        <label>Get Runtime Dependency Definition</label>
        <locationX>151</locationX>
        <locationY>202</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Dependency_Definition_Record</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RuntimeDependencyDefName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RT_Orchestration_Dependency_Definition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>25</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>Get_Runtime_Dependency_Definition</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>AssetReferenceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>attribute</name>
        <apexClass>vNameValuePair</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>attributes</name>
        <apexClass>vNameValuePair</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DependentIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DependentItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>vlocity_cmt__OrchestrationItem__c</objectType>
    </variables>
    <variables>
        <name>DependentItemIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DependentItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>vlocity_cmt__OrchestrationItem__c</objectType>
    </variables>
    <variables>
        <name>fulfillmentRequestLineId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>a1d3h000000cUjkAAE</stringValue>
        </value>
    </variables>
    <variables>
        <name>ItemAttributes</name>
        <apexClass>vOrchestrationItemAttributes</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ItemAttributesCol</name>
        <apexClass>vOrchestrationItemAttributes</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>itemDependencies</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>vlocity_cmt__OrchestrationDependency__c</objectType>
    </variables>
    <variables>
        <name>itemDependency</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>vlocity_cmt__OrchestrationDependency__c</objectType>
    </variables>
    <variables>
        <name>itemId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>a2I3h000000cY1aEAE</stringValue>
        </value>
    </variables>
    <variables>
        <name>masterOrchestrationItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>vlocity_cmt__OrchestrationItem__c</objectType>
    </variables>
    <variables>
        <name>planId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>a2K3h000000bxvSEAQ</stringValue>
        </value>
    </variables>
    <variables>
        <name>reliesOnItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>vlocity_cmt__OrchestrationItem__c</objectType>
    </variables>
    <variables>
        <name>ReliesOnItemAttributes</name>
        <apexClass>vOrchestrationItemAttributes</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ReliesOnItemId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ReliesOnItemIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ReliesOnItemType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>reliesOnOrchestrationItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>vlocity_cmt__OrchestrationItem__c</objectType>
    </variables>
    <variables>
        <name>RuntimeDependencyDefName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>FTR M6 Callout Dependency</stringValue>
        </value>
    </variables>
</Flow>
